* {
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  width: 1480px;
  height: 1282px;
}

.header {
  width: 1283px;
  height: 189px;
}

.logo {
  font-weight: 400;
  font-size: 70px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  padding-top: 30px;
}

span {
  color: #4BCAFF;
margin: 0;
}

.top_menu {
  width: 1280px;
  height: 69px;
  margin-top: 40px;
  display: block;
  height: 69px;
  background-color: #35444f;
}

.top_menu_list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 69px;
  display: flex;
}

.top_menu ul li a {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  display: block;
  height: 69px;
  width: 100%;
  padding: 0 5px;
  line-height: 69px;
}

.top_menu ul li a:hover {
  background-color: #222f3a;
  transition: 0.5s;
}

.line {
  width: 69px;
  height: 0px;
  border: 1px solid #ffffff;
  transform: rotate(90deg);
  margin-top: 33px;
}

.main {
  display: flex;
}

.left_menu {
  margin-top: 100px;
  width: 344px;
  height: 396px;
  margin-left: 100px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
}

.left_menu a {
  display: block;
  padding: 26px 0;
  color: #485863;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
}

.left_menu ul {
  list-style: none;
}

.left_menu_list_item :hover {
  background-color: #dbdbdb;
  transition: 0.5s;
  transform: translateX(35px);
}

.content {
  width: 885px;
  height: 832px;
  margin-top: 90px;
  margin-right: 100px;
}

.image {
  width: 885px;
  height: 529px;
  display: flex;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  align-items: center;
}

.image :hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.infotmation {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  padding-top: 37px;
}

.another_infotmation {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  padding-top: 35px;
}

.footer {
  width: 1280px;
  height: 69px;
  background: rgba(99, 105, 110, 0.48);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: #0c1927;
  margin-top: 55px;
}

.footer ul {
  display: flex;
  list-style: none;
  column-gap: 25px;
}

.footer ul li a {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #0c1927;
  text-decoration: none;
}

.footer p {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #0c1927;
}

.footer_text:hover {
  color: #3181A6;
  transition: 0.3s;
border-bottom: 2px solid #3181A6;
}
