@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-j-start {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}




