$middle-min-width-point: 480px;
$large-min-width-point: 998px;


$hdr-nav-bg-color: #27262A;
$hdr-nav-txt-hover-color: #FFFFFF;
$hdr-nav-txt-color: #8D81AC;
$hdr-title-color: #FFFFFF;
$hdr-text-color: #8D81AC;
$hdr-subtext-color: #848E97;
$abt-fork-subtext-color: #A291A5;
$abt-fork-cards-text-color: #FFFFFF;
$abt-fork-title-color: #FFFFFF;

$re-title-color: #635C73;

