* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 1366px;
  height: 768px;
  margin: 0 auto;
  background-image: url(../image/background\ 1.png);
  background-position: center center;
}

header {
  display: flex;
  width: 1028px;
  height: 61px;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 46px;
}

.logo {
  display: flex;
  width: 180px;
  height: 51px;
}

.img_logo {
  width: 53px;
  height: 47px;
  position: absolute;
}

.link_logo {
  text-decoration: none;
}

.title {
  padding-left: 60px;
}

.title :hover {
color: #f26522;
transition: 0.3s;
}

.title_logo {
  font-weight: 700;
  font-size: 29px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.little_title_logo {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.contacts {
  width: 220px;
  text-align: right;
}

.contacts :hover {
  color: #f26522;
  transition: 0.3s;
}

.mail {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.tel {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.tours {
  width: 1030px;
  height: 560px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 0 auto;
  margin-top: 60px;
}


.link_card {
  text-decoration: none;
}

.image {
  width: 300px;
  height: 220px;
}

.description {
  font-weight: 400;
  font-size: 18px;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  color: #ffffff;

}

.box-image {
  width: 300px;
}

.box-image :hover {
  color: #f26522;
  transition: 0.3s;
}

.elements {

  width: 280px;
  height: 55px;
  position: absolute;
  margin-top: 165px;
  transform: translateY(55px);
}

.elements :hover {
  transform: translateY(-55px);
  transition: 0.3s;

}



.information {
  width: 300px;
  height: 55px;
  display: flex;
  background-color: #f26522;
}


.view {
  display: flex;
  margin-top: 20px;
}

.inform_from {
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  padding-top: 7px;
  padding-left: 16px;

}

.price {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  padding-right: 100px;
}

.details {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.arrow {
  height: 10px;
  width: 10px;
  border: 1px solid #ffffff;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  margin-left: 10px;
}

.footer {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 48px;
}
