$color_hover: #57A4A4;
$basic_color_text:#4E4E4E;
$color_caption: #7C7C7C;
$color_description: #5C5C5C;
$color_footer: #FEFEFE;
$color_footer_description:#B9B9B9;
$bg-color-btn: #000000;

$font_basic: 'Roboto';

$padding-container: 1.1vw;
