body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #3a3a3a;
  background-color: #fff000;
}

.container {
  margin: 150px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

#find-ip-btn {
  margin-top: 20px;
  padding: 5px 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 3px;
  background-color:#3f00ff;
  border-radius: 3px;
  cursor: pointer;
}

#find-ip-btn:hover {
  color: #3a3a3a;
  background-color: #ffff00;
}

#show-location-ip {
  margin-top: 50px;
  font-size: 21px;
  font-weight: 400;

}
