* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../image/Фон\ 1.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;
  font-family: "Ubuntu";
}

header {
  height: 58px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
  max-width: 1364px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 18px;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.logo:hover {
  transition: 0.5s ease;
  color: #01813f;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu_list {
  display: flex;
  column-gap: 25px;
  list-style: none;
  margin-right: 25px;
}

svg {
  fill: #ffffff;
}

svg:hover {
  transition: 0.5s ease;
  fill: #01813f;
}

hr {
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-right: 27px;
  margin-top: 3px;
}

.input_text {
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: #ffffff;
  margin-top: 3px;
}

.input {
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
}

.input:hover {
  color: #01813f;
  transition: 0.5s ease;
}

.container {
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  margin: 0 auto;
  margin-top: 54px;
}

.top_container {
  padding-top: 30px;
  display: flex;
}

.shape {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
}

.title_container {
  font-weight: 400;
  font-size: 20px;
  display: flex;
  color: #434343;
  padding-left: 43px;
}

.bottom_line {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  color: #3cb878;
  text-decoration: none;
  margin-left: 216px;
  margin-top: 3px;
}

.bottom_line:hover {
  border-bottom: 1px solid #01813f;
  color: #01813f;
  transition: 0.5s ease;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 4px;
}

.facebook_login_button {
  width: 160px;
  height: 48px;
  background: #305db8;
  border: 1px solid #305db8;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding-left: 8px;
  cursor: pointer;
}

.facebook_login_button:hover {
  background-color: #022263;
  transition: 0.5s ease;
}

.line_button {
  width: 1px;
  height: 28px;
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
}

.title_button {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding-right: 22px;
}

.google_login_button {
  width: 160px;
  height: 48px;
  background: #df4a32;
  border: 1px solid #df4a32;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  padding-left: 8px;
  cursor: pointer;
}

.google_login_button:hover {
  background-color: #ab1f09;
  transition: 0.5s ease;
}

.or_line {
  display: flex;
  margin-top: 31px;
  justify-content: center;
}

.line {
  width: 152px;
  height: 0px;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  margin: 9px 5px 0 5px;
}

.text_or {
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: #848484;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 12px;
}

form input {
  content: "";
  margin-bottom: 15px;
  width: 324px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding-left: 20px;
}

[type="text"]:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

[type="email"]:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

[type="password"]:focus {
  outline: none;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.confirm {
  display: flex;
  margin-top: 12px;
  margin-left: 62px;
}

.confirm label {
  display: flex;
}

#checkbox {
  width: 20px;
  height: 20px;
}

.confirm_text {
  font-weight: 400;
  font-size: 14px;
  color: #434343;
  margin-left: 8px;
}

.underline {
  font-weight: 400;
  font-size: 14px;
  color: #3cb878;
  text-decoration: none;
}

.underline:hover {
  color: #01813f;
  border-bottom: 1px solid #01813f;
  transition: 0.5s ease;
}

.create {
  width: 324px;
  height: 46px;
  background: #3cb878cc;
  border-radius: 4px;
  border: 1px solid #3cb878;
  margin-top: 20px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.create:hover {
  background-color: #01813f;
  transition: 0.5s ease;
}
