.main {
        width: 1280px;
        height: 1666px;
        background: white;
        text-align: center;
        margin: 0 auto;
    }

.header {
    margin: auto;
    width: 620px;
}

.header-list {
list-style: none;
column-gap: 75px;
display: flex;
padding-top: 32px;
}

.list-item {
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
    justify-content: space-between;
    text-decoration: none;
}

.photo {
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 60px;
    margin-top: 16px;
}

.content {
margin-top: 16px;
height: 650px;
width: 1280px;
top: 868px;
}

.title {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
color: #373737;
padding-top: 48px;
padding-bottom: 38px;
text-align: center;
}

.information {
display: inline-block;
text-align: center;
margin: 0 auto;
padding-bottom: 28px;
}

.other-information {
padding-bottom: 66px;
display: inline-block;
}


.text {
width: 1145px;
font-style: normal;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
color: #373737;
}

button {
color: white;
background: #FF0000;
border-radius: 4px;
border: #FF0000;
user-select: none;
width: 191px;
height: 51px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 13px;
line-height: 10px;
letter-spacing: 1.8px;
}

footer {
width: 1070px;
height: 39px;
right: 105px;
bottom: 29px;
}

.footer {
width: 462px;
height: 39px;
left: 608px;
top: 0px;
}

span {
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 20px;
display: inline-block;
text-align: right;
letter-spacing: 2.4px;
color: #373737;
width: 462px;
height: 39px;
left: 608px;
top: 0px;
margin-top: 40px;
margin-bottom: 29px;
margin-left: 713px;
margin-right: 105px;
background-color: rgb(0, 79, 224);
background-color: #1460ff;
border-color: #1450ff;

}

