    @use "./variables";
    @use "./mixins";
    
    .header-btn {
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        color: #FFFFFF;
        width: 119px;
        height: 37px;
        background: variables.$hdr-nav-txt-color;
        transition-duration: 0.3s;
        border-radius: 40px;
    };

    .header-btn:hover {
        background: #FFFFFF;
        color: variables.$hdr-nav-txt-color;
        border: 1px solid variables.$hdr-nav-txt-color;
    };

    .header-btn:active {
        box-shadow: 0 0 10px variables.$hdr-nav-txt-color;
        transform: scale(0.98);
    };

    .header {

        .header__wrapper {
            background: url("../img/bg_header1200.png") center / 100% no-repeat;
        };

        .header__nav {
            height: 103px;
            padding: 0 15px;
            @include mixins.flex-center;
            flex-wrap: wrap;
            justify-content: space-between;
        };

        .header__nav-logo a {
            @include mixins.flex-center;
            transition-duration: 0.3s;
            text-decoration: none
        };

        .header__nav-logo a:active {
            transform: scale(0.98);
        };

        .header__nav-logo a:hover>.header__nav-logo-text {
            color: variables.$hdr-nav-txt-hover-color;
        };

        .header__nav-logo a:hover>.header__nav-logo-svg {
            fill: variables.$hdr-nav-txt-hover-color;
        };

        &__nav-logo-svg {
            height: 41px;
            width: 43px;
            transition-duration: 0.3s;
            fill: variables.$hdr-nav-txt-color;
        };

        &__nav-logo-text {
                
            padding: 5px 0 0 17px;
            font-family: 'Lato';
            font-weight: 700;
            font-size: 24px;
            line-height: 16px;
            transition-duration: 0.3s;
            color: variables.$hdr-nav-txt-color;
            text-transform: uppercase;
        };

        &__dropdown-burger {
            position: relative;
            width: 26px;
            height: 21px;
            background-color: variables.$hdr-nav-bg-color;
        };

        .header__dropdown-burger::after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 16px;
            height: 3px;
            border-radius: 5px;
            right: 3px;
            top: 2px;
            transition-duration: 0.3s;
        };

        .header__dropdown-burger::before {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 16px;
            height: 3px;
            border-radius: 5px;
            right: 3px;
            bottom: 1px;
            transition-duration: 0.3s;
        };

        .header__dropdown-burger span {
            position: absolute;
            background-color: #fff;
            left: 3px;
            top: 7.5px;
            width: 16px;
            height: 3px;
            border-radius: 5px;
            transition-duration: 0.3s;
        };

        .header__dropdown-burger.active::after {
            width: 32px;
            height: 2px;
            top: 10px;
            right: -3px;
            transform: rotate(45deg);
        };

        .header__dropdown-burger.active::before {
            width: 32px;
            height: 2px;
            bottom: 10px;
            right: -3px;
            transform: rotate(-45deg);
        };

        .header__dropdown-burger.active span {
            transform: scale(0);
        };

        &__dropdown-menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding-bottom: 14px;
            top: 103px;
            right: 15px;
            transform: scale(0) translateY(-100%);
            text-align: left;
            transition-duration: 0.3s;
            background: #333333;
        };

        .header__dropdown-menu.active {
            transform: scale(1);
        };

        &__drop-menu-item {
            position: relative;
            padding: 35px 0 27px 35px;
            width: 292px;
            font-size: 26px;
            line-height: 26px;
            transition-duration: 0.3s;
            border-bottom: 3px solid #3B3B3B;
            color: #FFFFFF;
        };

        .header__drop-menu-item.active:focus,
        .header__drop-menu-item.active {
            color: variables.$hdr-nav-txt-color;
            transform: translateX(4px);
        };

        .header__drop-menu-item::before {
            content: '';
            background-color: variables.$hdr-nav-txt-color;
            position: absolute;
            width: 8px;
            height: 53px;
            top: 19px;
            left: -4px;
            transition-duration: 0.3s;
            opacity: 0;
            transform: scale(0);
        };

        .header__drop-menu-item.active::before {
            opacity: 1;
            transform: scale(1);
        };

        &__nav-menu-item {
            color: variables.$hdr-nav-txt-color;
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            margin-right: 10px;
            transition-duration: 0.3s;
        };

        .header__nav-menu-item:last-child {
            margin-right: 0;
        };

        .header__nav-menu-item:hover {
            color: variables.$hdr-nav-txt-hover-color;
        };

        .header__nav-menu-item:active {
            transform: scale(0.98);
        };

        &__nav-menu {
            display: none;
            justify-content: space-between;
            padding: 0 14.5% 5px 14.5%;
            width: 100%;
        };

        &__hat {
            height: 614px;
        };

        &__hat-title {
            padding-top: 50px;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            color: variables.$hdr-title-color;
        };

        .header__hat-text {
            padding-top: 19px;
            font-size: 18px;
            line-height: 24px;
            color: variables.$hdr-text-color;

            &--medium {
                font-family: 'Lato';
                font-size: 24.3px;
                display: none;
            };
        };

        &__hat-subtext {
            padding-top: 17px;
            font-size: 14px;
            line-height: 14px;
            text-transform: uppercase;
            color: variables.$hdr-subtext-color;
        };

        &__dowmload-btn {
            font-size: 18px;
            line-height: 20px;
            position: relative;
            top: -24px;
            width: 290px;
            height: 45px;
        };

        &__dowmload-subtext {
            position: relative;
            top: -11px;
        };
    }

    @media (min-width: variables.$middle-min-width-point) {
        .header {
            &__wrapper {
                background: url("../img/bg_header1200.png") center bottom/ cover no-repeat;
            };

            &__nav {
                height: 118px;
                padding: 12px 20px 1px 20px;
                background-color: variables.$hdr-nav-bg-color;
                
            };

            &__nav-btn {
                width: 145px;
                font-size: 16px;
                line-height: 16px;
            };

            &__nav-logo-text {
                display: block;
            };

            &__dropdown-burger {
                display: none;
            };

            &__dropdown-menu {
                display: none;
            };

            &__hat {
                height: 682px;
            };

            &__nav-menu {
                display: flex;
            };

            &__hat-title {
                padding-top: 67px;
                font-size: 72px;
                line-height: 72px;
            };

            .header__hat-text {
                padding-top: 16px;

                .header__hat-text--small {
                    display: none;
                };

                .header__hat-text--medium {
                    display: block;
                };
            };

            &__dowmload-btn {
                width: 390px;
                height: 62px;
                font-size: 21px;
                line-height: 23px;
                top: -32px;
            };

            &__dowmload-subtext {
                top: -13px;
            };
        }
    };

    @media (min-width: variables.$large-min-width-point) {
        .header {

            &__nav {
                height: 100px;
                padding: 10px;
                background-color: transparent;
            };

            &__nav-logo {
                order: 1;
            };

            &__nav-btn {
                order: 3;
                line-height: 17px;
            };

            &__nav-menu {
                order: 2;
                width: auto;
                margin-left: auto;
                padding: 0;
            };

            &__nav-menu-item {
                line-height: 17px;
                margin-right: 48px;
            };

            .header__nav-menu-item:last-child {
                margin-right: 48px;
            };

            &__hat {
                height: 700px;
            };

            &__hat-title {
                padding-top: 82px;
                font-size: 82px;
                line-height: 82px;
            };

            .header__hat-text {
                &--medium {
                    font-size: 30.4px;
                    line-height: 30px;
                }
            };

            &__hat-subtext {
                padding-top: 16px;
                font-size: 16px;
                line-height: 16px;
            }
        }
    }