@use "./variables";
@use "./mixins";

.rev__editor {
    padding: 0 10px;
    margin-top: 66px;
    &-title {
        font-family: 'Montserrat', sans-serif;
        color: variables.$re-title-color;
        font-size: 54px;
        font-weight: 700;
        text-transform: uppercase;
    };

    &-description {
        margin: 0 auto;
        padding-top: 35px;
        max-width: 861px;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 21px;
    };

    &-btns {
        margin: 16px;
        @include mixins.flex-center;
        gap: 10px;

        .rev__editor-btn{
            @include mixins.flex-center;
            gap: 7px;
            width: 115px;
            height: 26px;
            border: #c0c0c0 1.5px solid;
            border-radius: 3px;
            background: linear-gradient(90deg, rgba(214, 214, 214, 1) 0%, rgb(199, 199, 199) 59%, rgba(255, 255, 255, 1) 59.5%, rgba(255, 255, 255, 1) 100%);

            .rev__editor-btn--svg {
                width: 16px;
                height: 16px;
                margin-left: -3px;
            }
            .rev__editor-text {
                font-size: 12px;
                font-weight: 600;
                padding-left: 3px;
            }
        }
    }
}

@media (max-width: 768px) {
    .rev__editor-title {
        font-size: 42px;
    }
    .rev__editor-btns {
        justify-content: center;
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;

    }
}

@media (max-width: 450px) {
    .rev__editor-title {
        font-size: 26px;
    }

    .rev__editor-description {
        font-size: 14px;
    }
}