@use "./variables";
@use "./mixins";

.what__you-get--container {
        min-width: 320px;
        background: #F4F4F4;
        width: 100%;
        font-family: 'Montserrat';

        .what__you-get-title {
        padding-top: 80px;
        margin-left: 530px;
        margin-bottom: -60px;
        font-weight: 700;
        font-size: 48px;
        color: variables.$hdr-nav-txt-color;

        @media (max-width: 998px) {
            margin: 0 auto;
        }
       };

    .what__you-get {
        @include mixins.flex-center;
        gap: 79px;
        position: relative;
       
        @media (max-width: 998px) {
                display: flex;
                flex-direction: column;
                justify-content: left;
                margin-top: 52px;
            };

    &--offers {
        @media (max-width: 998px) {
                width: 100%;
                justify-content: left;
                padding-left: 30px;
            };

        .what__you-get--offer {
            display: flex;
            max-width: 536px;
            text-align: left;
            gap: 23px;
            
            @media (max-width: 998px) {
                max-width: 970px;
                };
                
                @media (max-width: 480px) {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    width: 269px;
                    margin: 0 auto;
                };
            

            &-img {
                min-width: 111px;
                height: 86px;
                @include mixins.flex-center;
                margin-top: 35px;
            };

            &-title {
                font-size: 16px;
                font-weight: 400;
                color: #323232;
            };

            &-description {
                font-weight: 400;
                font-size: 14px;
                color: variables.$hdr-subtext-color;
            }
        }
    }
};

    .what__you-get--image {
        margin-top: 70px;
        min-width: 515px;
        min-height: 381px;
        padding-bottom: 30px;

        @media (max-width: 992px) {
            position: relative;
            display: flex;
            justify-content: flex-end;
            top: auto;
            bottom: 0;
            right: 0;
        };
        
        @media (max-width: 480px) {
            display: block;
            overflow: hidden;
            min-height: 381px;
        }
    }
}
