* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #171717;
}

.header {
  width: 1170px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 30px;
}

.logo {
  width: 216px;
  height: 33px;
  text-decoration: none;
}

.contact {
  width: 218px;
  height: 50px;
  display: flex;
  border: 1px solid #e4b564;
  justify-content: center;
  align-items: center;
}

.contact_link {
  text-decoration: none;
}

.icon {
  height: 13px;
  width: 13px;
}

.contact_text {
  font-weight: 400;
  font-size: 18px;
  color: #e4b564;
  padding-left: 7px;
}

.heating_network {
  width: 1140px;
  margin: 0 auto;
  margin-top: 80px;
}

.title {
  font-weight: 600;
  font-size: 26px;
  color: #ffffff;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-top: 15px;
}

.heating_network_box {
  width: 1040px;
  padding-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "box_1 box_1 box_2 box_2 box_3 box_3 "
    "box_4 box_4 box_4 box_5 box_5 box_5 ";
}

.box_1 {
  width: 350px;
  height: 350px;
  background: #634f2c;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  grid-area: box_1;
}

.box_2 {
  width: 350px;
  height: 350px;
  background: #b4a385;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  grid-area: box_2;
}

.box_3 {
  width: 350px;
  height: 350px;
  background: #e4b564;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  grid-area: box_3;
}

.box_4 {
  height: 350px;
  background: #635a4a;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  grid-area: box_4;
}

.box_5 {
  height: 350px;
  background: #b08c4d;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  grid-area: box_5;
}

.park {
  width: 1140px;
  margin: 0 auto;
  margin-top: 80px;
}

.thin_text {
  font-weight: 200;
  font-size: 16px;
}
.fat_text {
  font-weight: 600;
  font-size: 20px;
}

.park_box {
  width: 1040px;
  /* height: 770px; */
  padding-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "box_6 box_6 box_7 box_7 box_8 box_8 "
    "box_9 box_9 box_7 box_7 box_11 box_11 "
    "box_9 box_9 box_10 box_10 box_11 box_11 "
    "box_9 box_9 box_10 box_10 box_12 box_12 ";
}

.box_6 {
  width: 350px;
  height: 250px;
  padding-left: 35px;
  padding-top: 45px;
  background: #0e0e0e;
  color: #ffffff;
  grid-area: box_6;
}

.box_7 {
  width: 350px;
  height: 380px;
  padding-left: 35px;
  padding-top: 45px;
  background: #242424;
  color: #ffffff;
  grid-area: box_7;
}

.box_8 {
  width: 350px;
  height: 250px;
  padding-left: 35px;
  padding-top: 45px;
  background: #1f1f1f;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_8;
}

.box_9 {
  width: 350px;
  height: 450px;
  padding-left: 35px;
  padding-top: 45px;
  background: #1f1f1f;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_9;
}

.box_10 {
  width: 350px;
  height: 320px;
  padding-left: 35px;
  padding-top: 45px;
  background: #e4b564;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_10;
}

.box_11 {
  width: 350px;
  height: 225px;
  padding-left: 35px;
  padding-top: 45px;
  background: #0e0e0e;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_11;
}

.box_12 {
  width: 350px;
  height: 200px;
  padding-left: 35px;
  padding-top: 45px;
  background: #0a0909;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_12;
}

.our_projects {
  width: 1140px;
  margin: 0 auto;
  margin-top: 80px;
}

.footer_projects {
  display: flex;
  justify-content: space-between;
}

.all_projects {
  box-sizing: border-box;
  width: 180px;
  height: 50px;
  border: 1px solid #e4b564;
}

.link_projects {
  text-decoration: none;
}

.projects_text {
  font-weight: 400;
  font-size: 18px;
  color: #e4b564;
  text-align: center;
  margin-top: 10px;
}

.projects_box {
  width: 1040px;
  padding-top: 30px;
  display: grid;
  grid-template-areas:
    "box_13 box_14 box_15"
    "box_16 box_17 box_18";
  padding-bottom: 70px;
}

.box_13 {
  width: 350px;
  height: 300px;
  padding-left: 35px;
  padding-top: 45px;
  background: #634f2c;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_13;
  justify-content: center;
}

.img_13 {
  width: 185px;
  height: 49px;
  margin-top: 80px;
}

.box_14 {
  width: 350px;
  height: 300px;
  padding-left: 35px;
  padding-top: 45px;
  background: #e8d2abc2;
  color: #ffffff;
  grid-area: box_14;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.img_14 {
  width: 62px;
  height: 55px;
  justify-content: center;
  align-items: center;
}

.img_14_2 {
  width: 139px;
  height: 55px;
}

.box_15 {
  width: 350px;
  height: 300px;
  padding-left: 35px;
  padding-top: 45px;
  background: #e4b564;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_15;
  justify-content: center;
}

.img_15 {
  width: 190px;
  height: 42px;
  margin-top: 80px;
}

.box_16 {
  width: 350px;
  height: 300px;
  padding-left: 35px;
  padding-top: 45px;
  background: #635a4a;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_16;
  justify-content: center;
}

.img_16 {
  width: 190px;
  height: 42px;
  margin-top: 80px;
}

.box_17 {
  width: 350px;
  height: 300px;
  padding-left: 35px;
  padding-top: 45px;
  background: #b08c4d;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  grid-area: box_17;
  justify-content: center;
}

.img_17 {
  width: 100px;
  height: 53px;
  margin-top: 80px;
}

.box_18 {
  width: 350px;
  height: 300px;
  padding-left: 35px;
  padding-top: 45px;
  background: #634f2c;
  display: flex;
  grid-area: box_18;
  justify-content: center;
}

.img_18 {
  width: 185px;
  height: 49px;
  margin-top: 80px;
}
