@use "../variables";
@use "../mixins";

.footer-section {
    background: #000000;
    font-family: variables.$font_basic;
    text-align: center;

    @media (max-width: 768px) {
        padding: 57px 0;
    }
    
    @media (max-width: 450px) {
        padding: 38px 0;
    }

    .footer-title {
        padding-top: 66px;
        font-size: 16px;
        text-transform: uppercase;
        color: variables.$color_footer;
            
        @media (max-width: 450px) {
            font-size: 14px;
        }
    }

    .footer-description {
        color: variables.$color_footer_description;
        font-size: 16px;
        padding-top: 22px;
        
        @media (max-width: 768px) {
            font-size: 12px;
            padding-top: 8px;
        }
    }

    .social-media {
        padding-top: 37px;
        @include mixins.flex-center;
        gap: 6px;
        justify-content: center;

        .footer-icon {
            width: 34px;
            height: 34px;
            align-items: center;
        }
    }

    .footer-contacts {
        padding-top: 34px;
        padding-bottom: 70px;
        font-size: 16px;
        color: variables.$color_footer_description;
    
        @media (max-width: 768px) {
            font-size: 14px;
        }
        
         @media (max-width: 450px) {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .footer-tel, .footer-mail {
            color: variables.$color_footer_description;
            text-decoration: none;
        }
    }
}