@use "../variables";
@use "../mixins";

.header {
    font-family: variables.$font_basic;
    @include mixins.flex-column-center;

        .header-menu {
            display: none;
            position: relative;
            margin-top: 23px;
            width: 44px;
            height: 37px;
            border: none;
            background-color: variables.$bg-color-btn;
            cursor: pointer;

                @media (max-width:768px) {
                    position: absolute;
                    display: block;
                    left: 28px;               
                }


                span {
                    position: absolute;
                    width: 17px;
                    height: 2px;
                    background-color: white;
                    left: 13.5px;
                    transition: all 0.5s;
                }
                :nth-of-type(2) {
                    transform: translateY(4px);
                }
                span:nth-of-type(3) {
                    transform: translateY(-4px);
                }
        }


        nav {
            @media (max-width: 768px) {
                    position: absolute;
                    left: -350px;
                    top: 67px;
                    background-color:#F5F5F5;
                    width: 182px;
                }
            .top-menu-list {
                list-style: none;
                margin-top: 45px;
                @include mixins.flex-center;
                padding: 0;

                    @media (max-width: 768px) {    
                        display: block;
                        margin: 0 auto;
                    }
                
                    .top-menu-list-link {
                        text-decoration: none;
                        color: variables.$basic_color_text;
                        letter-spacing: 1.1px;
                        font-size: 11px;
                        margin: 0 2.13vw;
                        text-transform: uppercase;

                    &:hover {
                        color: variables.$color_hover;
                        transition: 0.3s;
                    }

                    @media (max-width: 768px) {
                        display: block;
                        padding: 8px 0;
                        
                        
                    }
                }
            }
        }

        .header-box {
            margin: 0 auto;
            padding-top: 51px;
            width: 100%;
            max-width: 1170px;
                .header-img {
                    width: 100%;
                    display: block;

                    @media (max-width: 768px) {
                            max-width: 768px;
                            max-height: 361px;
                            margin-top: 25px;
                        }
                }   
        }

        @media (max-width: 768px) {
            .header.open .top-menu {
            }
        }
    }
