@use "../mixins";
@use "../variables";

.instagram-section {
    padding-top: 47px;
    font-family: variables.$font_basic;
    background-color: #fafafa;
        @media (max-width: 768px) {
            padding: 60px 0;
        }
    
        @media (max-width: 450px) {
            padding: 38px 0;
            background-color: #fff;
        }
        .top-title-inst {
            @include mixins.flex-between-center;
            max-width: 1165px;
            margin: 0 auto;
            text-transform: uppercase;
            margin-bottom: 24px;
                @media (max-width: 768px) {
                    margin-bottom: 24px;
                }
            
                @media (max-width: 450px) {
                    margin-bottom: 13px;
                }

            .title-section-inst {
                font-size: 16px;
                color: variables.$basic_color_text;
            }

            .title-inst-link {
                font-size: 13px;
                text-decoration: none;
                font-weight: 700;
                color: variables.$basic_color_text;
                    
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
        }

     .list-card {
        width: 100%;
        @include mixins.flex-center;
        gap: 9px;
        margin-bottom: 50px;

        .inst-img {
            min-width: 285px;
            height: 285px;
            overflow: hidden;
            
           
            @media (max-width: 1199px) {
                min-width: 249px;
                height: 249px;
                    
                    &:last-child {
                        display: none;
                    }
                }

                @media (max-width: 768px) {
                    justify-content: start;
                    .inst-img {
                        min-width: 301px;
                        height: 301px;
                    }
                        .inst-img:nth-child(2),
                        .inst-img:nth-child(3) {
                            display: none;
                        }
                    }
                
            }

            
        }

}