@use "../variables";
@use "../mixins";

.recent-posts {
        padding: 70px 0;
        font-family: variables.$font_basic;

        @media (max-width: 768px) {
            padding: 60px 0;
        }
    
        @media (max-width: 450px) {
            padding: 42px 0;
        }

    .title-section {
        margin: 0 auto;
        max-width: 1165px;
        text-align: left;
        color: variables.$basic_color_text;
        font-size: 16px;
        color: #4E4E4E;
        text-transform: uppercase;
    }

    .posts-wrap {
        max-width: 1165px;
        margin: 0 auto;
        padding-top: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px 55px;
        @media (max-width: 1200px) {
                flex-direction: column;;
            }

        .post {
            max-width: 555px;
            display: flex;
            flex-direction: row;
            gap: 19px;

                @media (max-width: 768px) {
                    display: flex;
                    gap: 11px;
                    max-height: 230px;
                }

                @media (max-width: 450px) {
                    display: flex;
                    flex-direction: column; 
                }

                .post-img {
                    min-width: 160px;
                    min-height: 140px;
                    overflow: hidden;

                    & img {
                        height: 100%;
                        display: block;
                    }
                }
                .post-info {
                    display: flex;
                    flex-direction: column;

                    .title-post {   
                        margin: 0px;
                        font-size: 16px;
                        color: variables.$basic_color_text;
                            @media (max-width: 768px) {
                                margin: 0;
                                font-size: 14px;
                            }
                        }

                        .caption {
                            font-size: 12px;
                            padding-top: 8px;
                            color: variables.$color_caption;
                    
                            @media (max-width: 768px) {
                                margin: 0;
                                font-size: 11px;
                            }
                        }

                        .description {
                            font-size: 14px;
                            
                            @media (max-width: 450px) {
                                display: none;
                            }
                        }
                }
        }       
    }    
}